<nav class="navbar bg-success">
  <div class="container d-flex align-items-center justify-content-around">
    <div>
        <i class="fas fa-shopping-cart fa-3x text-white"></i>
    </div>
  </div>
</nav>