{{#each Products}}

<div id="producto-style" class="col-10 col-sm-10 col-md-5 col-lg-3 p-0" >
    <div id="imagen-con-boton" >
        <img src="/{{this}}.png"  width="150" class="img-fluid" alt="...">
        <button class="action-button" data-id="{{this}}">{{this}}</button> 
    </div>
</div>
{{/each}}